version: '3.8'
services:
  dns:
    image: docker.io/ubuntu/bind9
    container_name: dns
    ports:
      - "2253:53/tcp"
      - "2253:53/udp"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      ansible-net:
        aliases:
          - "dns.srv.zam.haus"
        ipv4_address: 10.5.0.100
    privileged: true
    environment:
      TZ: UTC
    volumes:
      - ./dns/named.conf.options:/etc/bind/named.conf.options:ro
      - ./dns/named.conf.local:/etc/bind/named.conf.local:ro
      - ./dns/db.ad.srv.zam.haus:/etc/bind/zones/db.ad.srv.zam.haus:ro
    command: ["/usr/sbin/named", "-g", "-c", "/etc/bind/named.conf", "-u", "bind"]
  ubuntu-ansible:
    dns:
      - "10.5.0.100"
    build:
      context: ./hosts
      dockerfile: ubuntu.dockerfile
    ports:
      - "2201:22"
    container_name: ubuntu-ansible
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      ansible-net:
        aliases:
          - "ad"
          - "ad.srv.zam.haus"
          - "ad001.srv.zam.haus"
        ipv4_address: 10.5.0.2
    privileged: true
  debian-ansible:
    dns:
      - "10.5.0.100"
    build:
      context: ./hosts
      dockerfile: debian.dockerfile
    ports:
      - "2202:22"
    container_name: debian-ansible
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      ansible-net:
        aliases:
          - "ad"
          - "ad.srv.zam.haus"
          - "ad002.srv.zam.haus"
        ipv4_address: 10.5.0.3
    privileged: true
  windows:
    image: dockurr/windows
    container_name: windows
    environment:
      VERSION: "11"
      LANGUAGE: "English"
      USERNAME: "ansible"
      PASSWORD: "P@ssw0rd"
    dns:
      - "10.5.0.100"
    networks:
      ansible-net:
        aliases:
          - "windows.srv.zam.haus"
        ipv4_address: 10.5.0.51
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
      - 3389:3389/tcp
      - 3389:3389/udp
    volumes:
      - ./dockur/host1/storage:/storage
      - ./dockur/host1/shared-ro:/shared/shared-ro:ro
      - ./dockur/host1/shared-rw:/shared/shared-rw
      - ./dockur/host1/oem:/oem:ro
      - ./dockur/Win11_24H2_German_x64.iso:/boot.iso:ro
    restart: always
    stop_grace_period: 2m



networks:
  ansible-net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/24
          gateway: 10.5.0.1
