- name: Gather all facts first
  hosts: adcs
  gather_facts: yes
  tasks: [ ]
- name: Test replication
  hosts: adcs
  gather_facts: false
  become: yes
  tasks:
    - name: ...
      when: true
      block:
        - name: Remember current date
          set_fact:
            now_1: "{{ now(utc=True,fmt='%Y-%m-%dT%H:%M:%S.%fZ') }}"
        - name: Set list of DNs to replicate
          set_fact:
            replicate_dns:
              - "DC=ad,DC=srv,DC=zam,DC=haus"
              - "CN=Configuration,DC=ad,DC=srv,DC=zam,DC=haus"
              - "CN=Schema,CN=Configuration,DC=ad,DC=srv,DC=zam,DC=haus"
              - "DC=DomainDnsZones,DC=ad,DC=srv,DC=zam,DC=haus"
              - "DC=ForestDnsZones,DC=ad,DC=srv,DC=zam,DC=haus"
        - name: Replicate
          throttle: 1
          timeout: 120
          loop: "{{ ansible_play_hosts | product(replicate_dns) | list}}"
          when: item.0 != inventory_hostname
          loop_control:
            label: "replication:    {{ hostvars[inventory_hostname]['ansible_hostname'] }}.ad.srv.zam.haus = {{ inventory_hostname }}   <=>    {{ hostvars[item.0]['ansible_hostname'] }}.ad.srv.zam.haus = {{ item.0 }}    DN: {{ item.1 }}"
          shell: |
            set -eux
            samba-tool drs replicate {{hostvars[inventory_hostname]['ansible_hostname']}}.ad.srv.zam.haus {{hostvars[item.0]['ansible_hostname']}}.ad.srv.zam.haus {{ item.1 }}
            samba-tool drs replicate {{hostvars[item.0]['ansible_hostname']}}.ad.srv.zam.haus {{hostvars[inventory_hostname]['ansible_hostname']}}.ad.srv.zam.haus {{ item.1 }}
        - name: Check Replication
          samba_tool_drs_showrepl:
            since: "{{ now_1 }}"